<h1>Create a new Figure</h1>
<form action="/figures" method="POST">
  <label>Enter Figure Name:</label>
  <input type="text" name="figure[name]" id="figure_name">
  <br></br>
  <label>Pick a Title for the Figure</label>
  <br></br>
  <%Title.all.each do |title|%>
    <input type="checkbox" name="figure[title_ids][]" value="<%=title.id%>" id="title_<%=title.id%>"><%=title.name%></input>
  <%end%>
  <br></br>
  <label>Or Enter a New Title for the Figure:</label>
  <br></br>
  <input type="text" name="title[name]" id="new_title"></input>
  <br></br>
  <label>Pick a Landmark for the Figure</label>
  <br></br>
  <%Landmark.all.each do |landmark|%>
    <input type="checkbox" name="figure[landmark_ids][]" value="<%=landmark.id%>" id="landmark_<%=landmark.id%>"><%=landmark.name%></input>
  <%end%>
  <br></br>
  <label>Or Enter a New Landmark for the Figure</label>
  <br></br>
  <input type="text" name="landmark[name]" id="new_landmark"></input>
  <br></br>
  <input type="submit" name="submit" value="Create New Figure">
</form>
